

header
{
    padding: 20px 0;
}

header.row
{
    display: flex;
    align-items: center;
}

.btn-primary:active
{
    margin-top: 20px
}

.jumbotron
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-size: cover;
}

.jumbotron img
{
    width: 800px;
    height: 500px;
}

footer .col-sm-8,p
{
    display: flex;
    justify-content: flex-end;
}

footer li img .pull-right
{
    width: 5em;
    height: 5em;
    float: right;
}

footer ul
{
    display: inline;
}
