{% extends "layout.html" %}

{% block content %}

<!--header class="container">
  <div class="row">
    <h1 class="col-sm-4">The Bouffage Page</h1>
    <br><br><br><br>
    <p scope="row text-left"><strong><em>Hungry!? Open your fridge..!!</em></strong></p>
  </div>
</header-->

    <section style="background: transparent" class="jumbotron">
        <div class="container">
            <div class="row text-center">
                <img class="col-sm-8" src="https://previews.123rf.com/images/mitoimages/mitoimages1705/mitoimages170510083/78802448-close-up-of-raw-food-on-kitchen-counter-for-chicken-soup-munich-bavaria-germany.jpg">
                <div class="row text-left">
                    <h3>Steps: </h3>
                    <p>1. Select the type of cuisine you wish to eat. </p>
                    <p>2. Check the ingredients in your fridge and upload them in the next page in both
                        primary and secondary textboxes available, as soon as you click on the next button
                        below. </p>
                    <p>3. As soon as you enter the ingredients, you will be navigated to the next page where you
                        can choose the type of food you want to prepare! It's that simple. Moreover, you can select
                        cuisines based on the calories. And guess what!! You have recommendations based on what
                        you cooked and can give your feedback. </p>
                </div>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="row">
            <div class="col-sm-6">
                <h4 class="col-sm-5"><strong>The Bouffage Statistics</strong></h4> <br><br>
                <p class="col-sm-7 text-left"> Let's look at the web-page statistics now</p><br>
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">S. No</th>
                        <th scope="col">Years</th>
                        <th scope="col">No. of Visits</th>
                        <th scope="col">Average rating</th>
                    </tr>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>2014</td>
                        <td>10370</td>
                        <td>4.2</td>
                    </tr>
                    <tr>
                    <th scope="row">2</th>
                    <td>2015</td>
                    <td>23570</td>
                    <td>4.4</td>
                    </tr>
                    <tr>
                    <th scope="row">3</th>
                    <td>2016</td>
                    <td>26860</td>
                    <td>4.8</td>
                    </tr>
                    <tr>
                    <th scope="row">4</th>
                    <td>2017</td>
                    <td>43950</td>
                    <td>4.9</td>
                    </tr>
                    <tr>
                    <th scope="row">5</th>
                    <td>2018</td>
                    <td>69350</td>
                    <td>4.9</td>
                    </tr>
                    </tbody>
                    </thead>
                </table>
            </div>
            <div class="col-sm-6">
                <h4 class="col-sm-5"><strong>Ingredients Statistics</strong></h4> <br><br>
                <p class="col-sm-7 text-left"> Let's look at the statistics of ingredients</p><br>
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">S. No</th>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Entries</th>
                        <th scope="col">Average rating</th>
                    </tr>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Chicken</td>
                        <td>1037</td>
                        <td>4.0</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Shrimp</td>
                        <td>2357</td>
                        <td>4.0</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Apple</td>
                        <td>2686</td>
                        <td>4.5</td>
                    </tr>
                    </tbody>
                </thead>
                </table>
            </div>
        </div>
    </section>

    <footer class="container">
        <div class="row">
            <p class="col-sm-8 text-right">Click on these links to follow us!</p>
            <ul class="col-sm-8 list-unstyled">
                <li class="col-sm-1 pull-right">
                    <a href="#"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg"></a>
                </li>
                <li class="col-sm-1 pull-right">
                    <a href="#"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg"></a>
                </li>

            </ul>
        </div>
    </footer>

{% endblock %}
